.positioner{
	margin-top:15vh;
}
.bg-dark{
	background-color: #0A3A4A;
}
.c-light{
	color: #9AC836 !important;
}
.c-dark{
	color: #0A3A4A !important;
}
.btn-1{
	background-color: #9AC836 !important;
}
.new_account{
	text-decoration: underline;
	margin-top: 2%;
}
.icon{
	padding-right: 10px;
}
/*.facebook{
	background-color: #3b5998;
}
.google{
	background-color: #dd4b39;
}
.spotify{
	background-color: #00e461;
}*/
.division{
	width: 50%;
}
.login2{
	position: relative;
	margin-top: 4%;
}
.alternative{
	position: absolute;
	top:-10px;
	left: 45%;
	background-color: #fff;
}
.c-light2{
	color: #fff;
}
.controls_audio{
	color:#9AC836;
	background-color: #0A3A4A;
	border-radius: 50%;
	padding: 5px;
	margin: 0 10px;
}
.album_image{
	max-width: 250px;
	padding:20px;
}
.back{
	position: absolute;
}

