{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}



<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="row center-align">
	<div class="input-field col s12">
  <button class="waves-effect waves-amar .wabes-ripple btn btn-1"
    class="primaryAction" type="submit">{% trans "INICIAR SESIÓN" %}</button>
  </div>
	</div>
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">
    <p></p>
    <div class="row center-align">
    {% trans "olvidaste tu contraseña?" %}</a>
    </div>
</form>
  {% if socialaccount_providers %}


<div class="socialaccount_ballot">

  <div class="login2">
	<hr class="division">
  <span class="alternative">{% trans 'o inicia con:' %}</span>
  </div>
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}Si no has creado una cuenta por favor crea una
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}
<div class="row center-align">
  <a href="{{ signup_url }}">Registrar Cuenta</a>
</div>

{% endblock %}
