{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Recuperar Contraseña" %}{% endblock %}

{% block content %}
    <div class="row center-align">
    <h2>{% trans "Recuperar Contraseña" %}</h2>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Ingresa tu e-mail para recuperar tu cuenta." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="waves-effect waves-amar .wabes-ripple btn btn-1" type="submit" value="{% trans 'Recuperar' %}" />
    </form>

    <p>{% blocktrans %}Recuperar.{% endblocktrans %}</p>
{% endblock %}

 </div>