{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row center-align">
<h1>{% trans "Registra Cuenta" %}</h1>
</div>
<div class="row center-align">
<p>{% blocktrans %}¿Ya tienes una cuenta ?<p></p>
  Entonces por favor inicia sesión<a href="{{ login_url }}"><p></p>
  <button class="waves-effect waves-amar .wabes-ripple btn btn-1" type="submit">
  Iniciar Sesión</button></a>.{% endblocktrans %}</p>
</div>
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_vaue }}" />
  {% endif %}
  <div class="row center-align">
  <button class="waves-effect waves-amar .wabes-ripple btn btn-1"
  type="submit">{% trans "Registrar Cuenta" %} &raquo;</button>
  </div>
</form>

{% endblock %}
