<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/materialize.css">		
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>SongBot</title>
</head>
<body>
    <nav class="bg-dark">
	    <div class="nav-wrapper">
	    	<!-- Back to results -->
			<a href="#" class="back"><i class="material-icons">keyboard_arrow_left</i></a>
	      	<!-- <a href="#!" class="brand-logo c-light">Song<span class="c-light2">Bot</span></a> -->
            {% load static from staticfiles %}
            <div class="row center-align">
	      	<a href="#!" class="brand-logo c-light"><img src="{% static "img/logoBlanco.png" %}" class="logo_image" alt=""></a>
            </div>
	      	<a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
	      	<ul class="right hide-on-med-and-down">
	        	<li><a href="#">Buscar</a></li>
	        	<li><a href="#">Historial</a></li>
	        	<a class="waves-effect waves-light btn hide-on-med-and-up">Cerrar sesión</a>

	      	</ul>
	      	<ul class="side-nav" id="mobile-demo">
	        	<li><a href="#">Buscar</a></li>
	        	<li><a href="#">Historial</a></li>
	        	<a class="waves-effect waves-light btn">Cerrar sesión</a>
	    	</ul>
	    </div>
	</nav>
<div class="container positioner">
		<div class="row">
            <form action="/home/resultados/" method="get">
            <div class="input-field col s10 m6 l6 offset-l3 offset-m3 offset-s1">
		          <i class="material-icons prefix c-dark">search</i>
                <input id="icon_prefix" type="text" name="q" class="validate c-dark">
                <label for="icon_prefix" class="c-dark">Ingresa la letra</label>
                 </div>
		        <div class="row center-align">
					<div class="col s12">
						<button type="submit" class="btn">Buscar</button>
					</div>
				</div>
            </form>
            </div>
	</div>
 <div class="row center-align">
<div class="container">
<div class="row">			
<div class="col s12">
<div class="collection with-header">
<li class="collection-header results_header"><h5>Resultados</h5></li>
{%for resultados in lyrics%}


{%if resultados.demo == "-Sin demo" %}
    <li class="collection-item">Canción: {{resultados.cancion}}   Artista: {{resultados.artista}}
    <p>Esta canción no se encuentra en spotify</p>
    <p></p>        
    </li>
{%else%}
    <p></p>
    <li class="collection-item">Canción: {{resultados.cancion}}   Artista: {{resultados.artista}}
    <p></p>
    <img src="{{resultados.img}}">
    <p></p>
    <audio controls>
    <source src="{{resultados.demo}}" type="audio/mpeg">
    </audio>
    <p></p>
    <a href="{{resultados.spotify_url}}" target="_blank">Escuchalo en spotify</a>
    <p></p>   
    </li>
{%endif%}			      
{%endfor%}
  </div>
</div>
</div>
</div>			      
  </div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static "js/materialize.min.js"%}"></script>
<script src="{% static "js/main.js"%}"></script>

</body>

</html>