{%extends "base.html" %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}SongBot{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    <div>
      <div class="row center-align">
      <strong>Bienvenido:</strong>
      </div>
      <ul>
	{% if user.is_authenticated %}
  <div class="row center-align">
  <div class="input-field col s12">
	<li><a class="waves-effect waves-amar .wabes-ripple btn btn-1" 
    href="/home/">Ir a SongBot</a></li>
  </div>
  </div>
  <div class="row center-align">
  <div class="input-field col s12">
	<li><a class="waves-effect waves-amar .wabes-ripple btn btn-1" 
    href="{% url 'account_logout' %}">Salir</a></li>
  </div>
  </div>
  {% else %}
  <div class="row center-align">
	<div class="input-field col s12">
  <li><a class="waves-effect waves-amar .wabes-ripple btn btn-1" 
    href="{% url 'account_login' %}" >Iniciar Sesion</a></li>
	</div>
  </div>
  <div class="row center-align">
	<li><a class="waves-effect waves-amar .wabes-ripple btn btn-1" 
    href="{% url 'account_signup' %}">Registrar Cuenta</a></li>
	<div class="input-field col s12">
 <div class="input-field col s12"> 
  {% endif %}
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
