<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SongBot</title>
	<link rel="stylesheet" href="/SongBot/static/css/materialize.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/SongBot/static/css/main.css">
	<link rel="stylesheet" href="/SongBot/static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container positioner">
		<form action="post">
			<div class="row center-align">
				<!-- <h3 class="center-align c-light">Song<span class="c-dark">Bot</span></h3> -->
				<img src="/SongBot/static/img/logoVerde.png" class="logo_login" alt="">
			</div>
			<div class="row">
				<div class="input-field col s10 m6 l6 offset-l3 offset-m3 offset-s1">
		          <i class="material-icons prefix c-dark">account_circle</i>
		          <input id="icon_prefix" type="text" class="validate c-dark">
		          <label for="icon_prefix" class="c-dark">Username</label>
		        </div>
			</div>
			<div class="row">
				<div class="input-field col s10 m6 l6 offset-l3 offset-m3 offset-s1">
		          <i class="material-icons prefix c-dark">lock_outline</i>
		          <input id="icon_prefix" type="text" class="validate c-dark">
		          <label for="icon_prefix" class="c-dark">Password</label>
		        </div>
			</div>
			<!-- Entrar -->
			<div class="row center-align">
	            <div class="input-field col s12">
	            	<a class="waves-effect waves-amar .wabes-ripple btn btn-1" href="#" id="go">Iniciar sesión</a>
	            </div>
	        </div>
	        <!--  -->
	        <div class="login2">
	        	<hr class="division">
	        	<span class="alternative">o inicia con:</span>
	        </div>
	       	<!-- LogIn alternatives -->
			<div class="row center-align">
				<!-- Facebook -->
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
				</span>
				<!-- Google -->
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-google fa-stack-1x fa-inverse"></i>
				</span>
				<!-- Spotify -->
				<span class="fa-stack fa-lg">
				  <i class="fa fa-circle fa-stack-2x"></i>
				  <i class="fa fa-spotify fa-stack-1x fa-inverse"></i>
				</span>
			</div>
			
			<div class="row center-align">
				<div class="col s12">
					<a href="#" class="new_account c-dark">Registrar Cuenta</a>
				</div>
			</div>
		</form>		
	</div>
	<!-- Scripts -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/materialize.min.js"></script>
</body>
</html>