<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Perfil</title>
	<link rel="stylesheet" href="css/materialize.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<!-- Nav -->
	<nav class="bg-dark">
	    <div class="nav-wrapper">
	    	<!-- Back to results -->
			<a href="#" class="back"><i class="material-icons">keyboard_arrow_left</i></a>
	      	<!-- <a href="#!" class="brand-logo c-light">Song<span class="c-light2">Bot</span></a> -->
	      	<a href="#!" class="brand-logo c-light"><img src="logoBlanco.png" class="logo_image" alt=""></a>
	      	<a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
	      	<ul class="right hide-on-med-and-down">
	        	<li><a href="#">Buscar</a></li>
	        	<li><a href="#">Historial</a></li>
	        	<a class="waves-effect waves-light btn hide-on-med-and-up">Cerrar sesión</a>

	      	</ul>
	      	<ul class="side-nav" id="mobile-demo">
	        	<li><a href="#">Buscar</a></li>
	        	<li><a href="#">Historial</a></li>
	        	<a class="waves-effect waves-light btn">Cerrar sesión</a>
	    	</ul>
	    </div>
	</nav>
	<!-- List Results -->
	<div class="container">
		<div class="row">
			<div class="col s12 center-align">
				<img class="responsive-img profile_image circle" src="avatar.png">
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<h5 class="username center-align">Username</h5>
				<!-- Opciones en perfil -->
				<ul class="collapsible" data-collapsible="accordion">
				    <li>
				      <div class="collapsible-header"><i class="material-icons icon c-light">av_timer</i>Historial</div>
				      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
				    </li>
				    <li>
				      <div class="collapsible-header"><i class="material-icons icon c-light">star</i>Favoritas</div>
				      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
				    </li>
				  </ul>
				        
			</div>
		</div>
	</div>
	<!-- Scripts -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>